.products--list {
  list-style: none;
}

.products--list li {
  margin-bottom: 10px;
  cursor: pointer;
}
.products--list .card-header {
  border-bottom: 0;
}
.products--list .card-body {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}
